.item-list {
  overflow: hidden;
}

.item-list:hover {
  overflow-y: overlay;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  position: absolute;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2.5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
